<!-- slider section -->
<section class="slider_section ">
    <div class="slider_bg_box">
        <img src="@Url.Content("~/images/books-stack-with-copy-space.jpg")" alt="" style="width: 100%; height: auto; display: block;">
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @* borrow books *@
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Browse all books
                                    </h1>
                                    <p>
                                        Selecting a book requires thoughtful consideration. It's a process of exploration, weighing options carefully. Each title beckons with the promise of adventure or knowledge, inviting readers to embark on a journey of the mind.
                                    </p>
                                    <div class="btn-box">
                                        <a asp-controller="BookCatalogue" asp-action="Books" class="btn1">
                                            Browse Books
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* return books *@
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Return a book
                                    </h1>
                                    <p>
                                        Read a book, give a rating and a review, return it. It's that simple, click on the link below to be redirected to your borrowed books. We heavily advice our customers to give their honest ratings and reviews so we can assure you have a great reading experience each time.
                                    </p>
                                    <div class="btn-box">
                                        <a asp-controller="BookCatalogue" asp-action="BorrowedBooks" class="btn1">
                                            Return a book
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* book history *@
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Borrow History 
                                    </h1>
                                    <p>
                                        Our customers tend to feel nostalgic at times, and maybe borrow a single book two or three times. ALthough this may come as abnormal or strange to some people, we think that being nostalgic is everything we want to be after reading a book. 
                                    </p>
                                    <div class="btn-box">
                                        <a asp-controller="BookCatalogue" asp-action="ReturnedBooks" class="btn1">
                                            Borrow History
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    }
    else
    {
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @* borrow books *@
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Browse all books
                                    </h1>
                                    <p>
                                        Selecting a book requires thoughtful consideration. It's a process of exploration, weighing options carefully. Each title beckons with the promise of adventure or knowledge, inviting readers to embark on a journey of the mind.
                                    </p>
                                    <div class="btn-box">
                                        <a asp-controller="BookCatalogue" asp-action="Books" class="btn1">
                                            Browse Books
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* login or register *@
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Authenticate
                                    </h1>
                                    <p>
                                        You can browse our books, that's for sure, we do not hide books from everyone, as we believe that books are a treasure for everyone. None the less, we require our customers to log into their accounts or register an account, in order to be able to borrow and return books
                                    </p>
                                    <div class="btn-box">
                                        <a asp-controller="Auth" asp-action="Login" class="btn1">
                                            Login
                                        </a>
                                        <a asp-controller="Auth" asp-action="Register" class="btn1">
                                            Register
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
            </ol>
        </div>
    }

</section>
<!-- end slider section -->