@using LIbrary.ViewModels.Auth;
@model LoginVM;

<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>Login</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form_container">
                    <form asp-action="Login" method="POST">
                        <div class="form-group">
                            <input asp-for="Email" type="email" placeholder="Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
                        </div>
                        <div class="form-group d-flex align-items-center">
                        <div style="width:45px;">
                            <input asp-for="rememberMe" type="checkbox"></img>
                        </div>
                        <div style="margin-left:20px;">
                            <h5 style="margin-bottom:22px;font-family:'Franklin Gothic Medium'">Remember me</h5>
                        </div>
                        <div class="ml-auto">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        </div>
                    </form>
                </div>
                <div style="display:flex; justify-content: center; align-items: center;">
                    <h6>
                        Don't have an account?
                    </h6>
                    <a asp-controller="Auth" asp-action="Register">
                        <h6>
                            &nbsp;  Register
                        </h6>    
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
