<section class="product_section " style="margin-bottom:0px;">
    <div class="container" style="margin-bottom:25px;">
        <div class="product_heading" style="margin-bottom:15px;">
            <h2>
                @ViewBag.Title
            </h2>
        </div>
        <div style="display:flex; justify-content:center;margin-bottom:10px;">
            <div class="product_container" >
                <div class="box" style="width:900px;">
                    <div class="box-content" style="height:250px;">
                        <div class="detail-box">
                            <div class="like" >
                                <h6 style="margin-top:10px;font-family:'Franklin Gothic Medium';">
                                    Borrowed on:
                                </h6>
                                <h6 style="margin-top:10px;font-family:'Franklin Gothic Medium';">
                                    Supposedly returned on:
                                </h6>
                                <h6 style="margin-top:10px;font-family:'Franklin Gothic Medium';">
                                    Returned on:
                                </h6>
                            </div>
                            <div class="like" style="justify-content:center;align-items:center;">
                                <h6 style="font-family:'Franklin Gothic Medium';">
                                    Fine total
                                </h6>
                                <div style="text-align:center;" >
                                    <h3>50</h3>
                                    <h6>(5X5X2)</h6>
                                </div>
                            </div>
                        </div>

                        <div class="detail-box" style="margin-top:40px;">
                            <h5 style="text-align:left;font-family:'Franklin Gothic Medium'; margin-top: 10px;">
                                Book name:
                            </h5>
                            <div class="product_heading">
                                <h2 style="background-color:#640c0a">
                                    Pay Fine
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>