<section class="client_section" style="justify-content:center;">
    <div class="container">
        <div class="product_heading" style="margin-bottom:0px;">
            <h2 style="background-color: #1B3A3A">
                @ViewBag.Title
            </h2>
        </div>
    </div>
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <div class="box" style="width:1200px;">
                                <div class="img-box" style="margin-bottom: 300px;">
                                    <img src=Model.reviewRatings[0].borrowItem.reader.ImageUrl alt="">
                                </div>
                                <div class="detail-box" style="width:1000px; height: 400px; ">
                                    <div class="client_info">
                                        <div class="client_name">
                                            <h5>
                                                emailemail@gmail.com
                                            </h5>
                                            <h6>
                                                Joined the platform on dd mm yyyy
                                            </h6>
                                        </div>
                                        <div class="star_container" style="dispaly:flex; text-align:center;">
                                            <h6>Books in posession</h6>
                                            <h6>60</h6>
                                            <h6>Returned Books</h6>
                                            <h6>103</h6>
                                        </div>
                                    </div>
                                    <p>
                                        houni bech naffichi les affiches mtaa lektob l5 ahsan whid tsallafhom by rating
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>